<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="d-flex flex-column h-100">
  <head th:fragment="head">
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Movella</title>
    <link
      rel="shortcut icon"
      href="/img/movellasmall.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link rel="stylesheet" href="/stylesheets/custom.css" />
    <script type="text/javascript" src="/scripts/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="/scripts/jquery-3.6.0.js"></script>
    <script type="text/javascript" src="/scripts/sweetalert2.js"></script>
    <script type="text/javascript" src="/scripts/numeral.min.js"></script>
    <script type="text/javascript" src="/scripts/jquery.mask.min.js"></script>
    <script type="text/javascript" src="/scripts/pages/common.js"></script>
  </head>

  <body class="d-flex flex-column flex-grow-1">
    <nav
      th:fragment="nav"
      th:with="route=${route} ?: ''"
      class="navbar navbar-expand-lg navbar-dark bg-primary lighten-3 px-3"
    >
      <div class="container-fluid">
        <span class="navbar-brand">
          <img src="/img/movellasmall.png" style="height: 80px; width: 80px" />
        </span>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#basic-nav"
          aria-controls="basic-nav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="basic-nav">
          <div class="navbar-nav">
            <a
              href="/"
              class="nav-link"
              aria-current="page"
              th:classappend="${route} == moveis ? active"
            >
              Móveis
            </a>
            <a
              href="/sobre"
              class="nav-link"
              th:classappend="${route} == sobre ? active"
            >
              Sobre
            </a>
            <a
              href="/contato"
              class="nav-link"
              th:classappend="${route} == contato ? active"
            >
              Contato
            </a>
            <a
              href="/perfil"
              class="nav-link"
              th:if="${hasSession}"
              th:classappend="${route} == perfil ? active"
            >
              Minha conta
            </a>
            <a
              class="nav-link"
              th:if="${hasSession}"
              href="/cadastrarmovel"
              th:classappend="|${user.getacesso() == 'normal' ? 'disabled' : ''} ${route == 'cadastrarmovel' ? 'active' : ''}|"
            >
              Cadastrar móvel
            </a>
            <a class="nav-link" href="/sair" th:if="${hasSession}">Sair</a>
            <a
              href="/entrar"
              class="nav-link"
              th:if="${!hasSession}"
              th:classappend="${route} == entrar ? active"
            >
              Entrar
            </a>
            <a
              class="nav-link"
              href="/criarconta"
              th:if="${!hasSession}"
              th:classappend="${route} == criarconta ? active"
            >
              Criar conta
            </a>
          </div>
          <div
            th:if="${hasSession}"
            class="
              d-flex
              flex-row flex-grow-1
              justify-content-end
              align-items-center
            "
          >
            <div class="m-2">
              <a href="/perfil">
                <img
                  th:attr="alt=${user.getnome()}"
                  th:src="${'/img/' + user.getfoto()}"
                  style="
                    height: 50px;
                    width: 50px;
                    border-radius: 50px;
                    object-fit: cover;
                  "
                />
              </a>
            </div>
            <div class="text-white">
              <a href="/perfil" class="text-white text-decoration-none">
                <h5 class="mb-0" th:text="${user.getnome()}"></h5>
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <main class="d-flex flex-column flex-grow-1">
      <div class="container py-3">
        <p>General</p>

        <div
          th:fragment="cover"
          style="
            height: 300px;
            backdrop-filter: brightness(50%);
            background-image: url(/img/cover1-compressed.jpg);
            background-size: cover;
          "
        >
          <div
            class="
              w-100
              h-100
              d-flex
              justify-content-center
              align-items-center
              text-center
            "
            style="backdrop-filter: brightness(50%)"
          >
            <h1 class="text-white" th:text="${title}"></h1>
          </div>
        </div>
      </div>
    </main>

    <footer
      th:fragment="footer"
      class="text-center bg-secondary text-white font-small mb-0 p-0"
    >
      <div class="py-3">
        <a
          href="./"
          target="_blank"
          class="py-3 text-white text-decoration-none"
        >
          Copyright © 2021 Movella
        </a>
        <!-- <a href="https://www.freepik.com/photos/house"
          ><small>House photo created by vanitjan - www.freepik.com</small></a
        >
        <br />
        <a href="https://www.freepik.com/photos/frame"
          ><small>Frame photo created by vanitjan - www.freepik.com</small></a
        >
        <br />
        <a href="https://www.freepik.com/photos/luxury"
          ><small>Luxury photo created by dit26978 - www.freepik.com</small></a
        > -->
      </div>
    </footer>
  </body>
</html>
