<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="d-flex flex-column h-100">
  <div th:replace="general :: head"></div>

  <body class="d-flex flex-column flex-grow-1">
    <div th:replace="general :: nav(route='moveis')"></div>

    <main class="d-flex flex-column flex-grow-1">
      <div class="container">
        <div th:replace="general :: cover(title='Móveis')"></div>
        <div class="row pt-2">
          <div class="col-12 col-md-3">
            <div class="card my-2">
              <div class="card-body py-2">
                <div
                  id="v-pills-tab"
                  role="tablist"
                  aria-orientation="vertical"
                  class="nav flex-column nav-pills"
                >
                  <a
                    role="tab"
                    href="#v-pills-0"
                    data-toggle="pill"
                    aria-selected="true"
                    data-bs-toggle="pill"
                    class="nav-link active"
                    aria-controls="v-pills-0"
                  >
                    Todos
                  </a>
                </div>
              </div>
            </div>
            <div class="card my-2">
              <div class="card-body pb-2">
                <h4>Ordenar por</h4>
                <div class="form-check py-2">
                  <input
                    type="radio"
                    name="ordenar"
                    value="valorMes asc"
                    id="ordena-menor-preco"
                    class="form-check-input ordem"
                  />
                  <label class="form-check-label" for="ordena-menor-preco">
                    Menor Preço
                  </label>
                </div>
                <div class="form-check py-2">
                  <input
                    type="radio"
                    name="ordenar"
                    value="valorMes desc"
                    id="ordena-maior-preco"
                    class="form-check-input ordem"
                  />
                  <label class="form-check-label" for="ordena-maior-preco">
                    Maior Preço
                  </label>
                </div>
                <div class="form-check py-2">
                  <input
                    type="radio"
                    name="ordenar"
                    value="avaliacao desc"
                    id="ordena-maior-avaliacao"
                    class="form-check-input ordem"
                  />
                  <label class="form-check-label" for="ordena-maior-avaliacao">
                    Melhor Avaliação
                  </label>
                </div>
                <div class="form-check py-2">
                  <input
                    checked
                    type="radio"
                    name="ordenar"
                    value="nome asc"
                    id="ordena-alfabetica"
                    class="form-check-input ordem"
                  />
                  <label class="form-check-label" for="ordena-alfabetica">
                    Ordem Alfabética
                  </label>
                </div>
                <!-- <div class="form-check py-2">
                  <input
                    type="radio"
                    name="ordenar"
                    id="ordena-novos"
                    value="data desc"
                    class="form-check-input ordem"
                  />
                  <label class="form-check-label" for="ordena-novos">
                    Mais Novos
                  </label>
                </div>
                <div class="form-check py-2">
                  <input
                    type="radio"
                    name="ordenar"
                    value="data asc"
                    id="ordena-antigos"
                    class="form-check-input ordem"
                  />
                  <label class="form-check-label" for="ordena-antigos">
                    Mais Antigos
                  </label>
                </div> -->
              </div>
            </div>
          </div>
          <div class="col-12 col-md-9">
            <div class="tab-content" id="v-pills-tabContent">
              <div
                class="tab-pane fade show active"
                id="v-pills-base"
                role="tabpanel"
                aria-labelledby="v-pills-base-tab"
              >
                <nav aria-label="Paginacao">
                  <ul id="pagination" class="pagination mt-2">
                  </ul>
                </nav>
                <nav class="mb-3" aria-label="Filtro">
                  <input
                    class="form-control"
                    type="text"
                    id="filtro"
                    maxlength="20"
                    placeholder="Filtro"
                  />
                </nav>
                <nav class="mb-3" aria-label="Somente disponíveis">
                  <div class="row">
                    <div class="col">
                      <div class="form-check py-2">
                        <input
                          type="checkbox"
                          class="form-check-input"
                          id="disponiveis"
                        />
                        <label class="form-check-label" for="disponiveis">
                          Somente disponíveis
                        </label>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-inline justify-content-end">
                        <label for="quantidade" class="px-2">
                          Itens por página
                        </label>
                        <select class="form-control" id="quantidade">
                          <option>6</option>
                          <option>12</option>
                          <option>24</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </nav>
                <div id="moveis" class="row px-1 mb-3">
                  <div class="p-4 text-center">
                    <small>Carregando móveis</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <div th:replace="general :: footer"></div>

    <script src="/scripts/pages/moveis.js"></script>
  </body>
</html>
