<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="d-flex flex-column h-100">
  <div th:replace="general :: head"></div>

  <body class="d-flex flex-column flex-grow-1">
    <div th:replace="general :: nav(route='perfil')"></div>

    <main class="d-flex flex-column flex-grow-1">
      <div class="container">
        <div th:replace="general :: cover(title='Minha conta')"></div>
        <div class="card my-3">
          <div class="card-body">
            <div class="row">
              <div class="col-12 col-md-3 border-right">
                <h2>Conta</h2>
                <div
                  class="nav flex-column nav-pills"
                  id="v-pills-tab"
                  role="tablist"
                  aria-orientation="vertical"
                >
                  <a
                    class="nav-link active"
                    id="v-pills-stats-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#v-pills-stats"
                    href="#v-pills-stats"
                    role="tab"
                    aria-controls="v-pills-stats"
                    aria-selected="true"
                  >
                    Estatísticas
                  </a>
                  <a
                    class="nav-link"
                    id="v-pills-editar-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#v-pills-editar"
                    href="#v-pills-editar"
                    role="tab"
                    aria-controls="v-pills-editar"
                    aria-selected="false"
                  >
                    Editar dados
                  </a>
                  <a
                    class="nav-link disabled"
                    id="v-pills-pagamento-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#v-pills-pagamento"
                    href="#v-pills-pagamento"
                    role="tab"
                    aria-controls="v-pills-pagamento"
                    aria-selected="false"
                  >
                    Chaves cadastradas
                  </a>
                  <a
                    class="nav-link disabled"
                    id="v-pills-historico-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#v-pills-historico"
                    href="#v-pills-historico"
                    role="tab"
                    aria-controls="v-pills-historico"
                    aria-selected="false"
                  >
                    Histórico
                  </a>
                  <a
                    class="nav-link disabled"
                    id="v-pills-moveis-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#v-pills-moveis"
                    href="#v-pills-moveis"
                    role="tab"
                    aria-controls="v-pills-moveis"
                    aria-selected="false"
                  >
                    Meus móveis
                  </a>
                  <a
                    class="nav-link disabled"
                    id="v-pills-cadastrar"
                    href="/cadastrarmovel"
                    aria-controls="v-pills-cadastrar"
                    aria-selected="false"
                  >
                    <i class="fas fa-arrow-left"></i>
                    Cadastrar móvel
                  </a>
                </div>
              </div>
              <div class="col-12 col-md-9">
                <div class="tab-content" id="v-pills-tabContent">
                  <div
                    class="tab-pane fade show p-2 active"
                    id="v-pills-stats"
                    role="tabpanel"
                    aria-labelledby="v-pills-stats-tab"
                  >
                    <h4 class="mb-3">Estatísticas</h4>
                    <div id="estatisticas" class="row"></div>
                    <div class="row">
                      <div class="col-12">
                        <div class="card my-2">
                          <div class="card-header">
                            <h4 class="card-title pt-2">
                              Seus móveis cadastrados e alugados
                            </h4>
                          </div>
                          <div class="card-body">
                            <canvas
                              id="graficoMoveis"
                              style="
                                min-height: 250px;
                                height: 250px;
                                max-height: 250px;
                                max-width: 100%;
                              "
                            ></canvas>
                          </div>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="card my-2">
                          <div class="card-header">
                            <h4 class="card-title pt-2">Relatório de ganhos</h4>
                          </div>
                          <div class="card-body">
                            <canvas
                              id="graficoGanhos"
                              style="
                                min-height: 250px;
                                height: 350px;
                                max-height: 350px;
                                max-width: 100%;
                              "
                            ></canvas>
                          </div>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="card my-2">
                          <div class="card-header">
                            <h4 class="card-title pt-2">Relatório de gastos</h4>
                          </div>
                          <div class="card-body">
                            <canvas
                              id="graficoGastos"
                              style="
                                min-height: 250px;
                                height: 350px;
                                max-height: 350px;
                                max-width: 100%;
                              "
                            ></canvas>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="tab-pane fade p-2"
                    id="v-pills-editar"
                    role="tabpanel"
                    aria-labelledby="v-pills-editar-tab"
                  >
                    <h4 class="mb-3">Editar dados</h4>
                    <form method="post" id="form">
                      <div class="row mb-2">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="foto">Imagem</label>
                            <div class="input-group">
                              <div
                                class="btn btn-light text-center flex-grow-1"
                              >
                                <input
                                  class="d-none"
                                  type="file"
                                  name="foto"
                                  id="foto"
                                  accept="image/*"
                                />
                                <label for="foto" class="w-100 text-center">
                                  Escolher
                                </label>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <img
                            src="/img/default.png"
                            alt="img"
                            id="imagem"
                            class="w-100 h-100"
                            style="object-fit: contain; border-radius: 10px"
                          />
                        </div>
                      </div>
                      <div class="mb-3">
                        <label for="nome">Nome</label>
                        <input
                          class="form-control"
                          type="text"
                          name="nome"
                          id="nome"
                          maxlength="20"
                          required
                          th:value="${user.getnome()}"
                        />
                      </div>
                      <div class="mb-3">
                        <label for="email">Email</label>
                        <input
                          class="form-control"
                          type="email"
                          name="email"
                          id="email"
                          maxlength="200"
                          required
                          disabled
                          th:value="${user.getemail()}"
                        />
                      </div>
                      <div class="mb-3">
                        <label for="celular">Celular</label>
                        <input
                          class="form-control"
                          type="text"
                          name="celular"
                          id="celular"
                          maxlength="15"
                          minlength="14"
                          required
                        />
                      </div>
                      <div class="mb-3">
                        <label for="cpf">CPF</label>
                        <input
                          class="form-control"
                          type="text"
                          name="cpf"
                          id="cpf"
                          maxlength="14"
                          required
                        />
                      </div>
                      <div class="mb-3">
                        <label for="cep">CEP</label>
                        <input
                          class="form-control"
                          type="text"
                          name="cep"
                          id="cep"
                          maxlength="9"
                          required
                        />
                      </div>
                      <div class="mb-3">
                        <label for="bairro">Bairro</label>
                        <input
                          class="form-control"
                          type="text"
                          name="bairro"
                          id="bairro"
                          maxlength="100"
                          required
                          disabled
                        />
                      </div>
                      <div class="mb-3">
                        <label for="cidade">Cidade</label>
                        <input
                          class="form-control"
                          type="text"
                          name="cidade"
                          id="cidade"
                          maxlength="100"
                          required
                          disabled
                        />
                      </div>
                      <div class="mb-3">
                        <label for="complemento">Complemento</label>
                        <input
                          class="form-control"
                          type="text"
                          name="complemento"
                          id="complemento"
                          maxlength="100"
                          required
                        />
                      </div>
                      <div class="mb-3">
                        <label for="logradouro">Logradouro</label>
                        <input
                          class="form-control"
                          type="text"
                          name="logradouro"
                          id="logradouro"
                          maxlength="100"
                          required
                          disabled
                        />
                      </div>
                      <div class="mb-3">
                        <label for="uf">UF</label>
                        <input
                          class="form-control"
                          type="text"
                          name="uf"
                          id="uf"
                          maxlength="100"
                          required
                          disabled
                        />
                      </div>
                      <div class="d-flex justify-content-end">
                        <input
                          type="submit"
                          value="Atualizar"
                          class="btn btn-primary text-white"
                        />
                      </div>
                    </form>
                  </div>
                  <div
                    class="tab-pane fade p-2"
                    id="v-pills-pagamento"
                    role="tabpanel"
                    aria-labelledby="v-pills-pagamento-tab"
                  >
                    <div
                      class="
                        d-flex
                        flex-row
                        justify-content-between
                        align-items-center
                      "
                    >
                      <h4 class="mb-3">Meios de Pagamento</h4>
                      <button
                        id="btn-add-pagamento"
                        class="btn btn-primary bg-primary"
                      >
                        <i class="fa fa-plus"></i>
                      </button>
                    </div>
                    <div class="row pagamentos"></div>
                  </div>
                  <div
                    class="tab-pane fade p-2"
                    id="v-pills-historico"
                    role="tabpanel"
                    aria-labelledby="v-pills-historico-tab"
                  >
                    <h4 class="mb-3">Histórico</h4>
                    <div class="row historico"></div>
                  </div>
                  <div
                    class="tab-pane fade p-2"
                    id="v-pills-moveis"
                    role="tabpanel"
                    aria-labelledby="v-pills-moveis-tab"
                  >
                    <h4 class="mb-3">Meus Móveis</h4>
                    <div class="row moveis"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <div th:replace="general :: footer"></div>

    <script src="/scripts/pages/perfil.js"></script>
  </body>
</html>
